/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body{
  background: orangered;
}
h1{
  margin-left: .5em;
  margin-bottom: 0;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.card{
  flex: 1 1 13em;
  padding: 1em;
  margin: 1em;
  border: 1px solid #4a4a4a;
  box-shadow: 2px 2px 10px #000;
  background: #03506f;
  color: #fff;
  border-radius: 5px;
}
.card-wrap{ margin-top: 2em; }
.card-link { 
  padding: 1em;
  margin: 1em;
  border: 1px solid #4a4a4a;
  box-shadow: 2px 2px 10px #000;
  background: #03506f;
  color: #fff; 
 border-radius: 5px;}
.card-link a { 
  color: #fff; 
  text-decoration: none; 
  text-transform: uppercase; }
  .loading{display: flex; align-items: center; justify-content: center ;}